#header{
background-color:gray;
color: white;
text-align: center;
padding-top:30px;
padding-bottom:30px;
font-family: "Cambria Math";
}


#topImageL{
    float: left;
    margin-left: 20px;

}

#topImageR{
    float: right;
    margin-right: 15px;
}